<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<servlet>
		<servlet-name>parkService</servlet-name>
		<servlet-class>com.neo.parkguidance.parkdata.receiver.api.servlet.ParkingService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>parkService</servlet-name>
		<url-pattern>/parkService</url-pattern>
	</servlet-mapping>
</web-app>
